[submodule "pagevra"]
	path = pagevra
	url = https://github.com/ln-one/Pagevra.git
	branch = main
[submodule "dualweave"]
	path = dualweave
	url = https://github.com/ln-one/Dualweave.git
	branch = main
[submodule "ourograph"]
	path = ourograph
	url = https://github.com/ln-one/Ourograph.git
	branch = main
[submodule "stratumind"]
	path = stratumind
	url = https://github.com/ln-one/Stratumind.git
	branch = main
[submodule "diego"]
	path = diego
	url = https://github.com/watermelon551/ppt-agent-service.git
	branch = main
[submodule "limora"]
	path = limora
	url = https://github.com/ln-one/Limora.git
	branch = main
[submodule "docs_change/CompoundBreaker"]
	path = docs_change/CompoundBreaker
	url = git@github.com:ln-one/CompoundBreaker.git
	branch = main
